{% load static %}
{% load i18n %}
    <div class="wrapper">
				<!-- Footer-->
				<footer class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<!-- Recent entries widget-->
								<aside class="widget widget_recent_entries">
									<div class="widget-title">
										<h5>Contato</h5>
									</div>
									<ul>
										<li><a href="#">{% trans 'Telefone' %}: (24) 99999-9999 </a></li>
									</ul>
								</aside>
							</div>
							<div class="col-md-6 col-lg-3">
								<!-- Recent entries widget-->
								<aside class="widget widget_recent_entries">
									<div class="widget-title">
										<h5>Endereço</h5>
									</div>
									<ul>
										<li><a href="#">{% trans 'Endereço' %}: Av. Expedicionário Oswaldo de Almeida Ramos, N 280</a> <span class="post-date">Vasouras</span></li>
									</ul>
								</aside>
							</div>
							<div class="col-md-6 col-lg-3">
								<!-- Recent entries widget-->
								<aside class="widget widget_recent_entries">
									<div class="widget-title">
										<h5>E-mail</h5>
									</div>
									<ul>
										<li><a href="#">support@abatedouro.com</a></li>
									</ul>
								</aside>
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="text-center"><span class="copyright">© 2021 - {% trans 'Todos os direitos reservados' %} - Pedro Vasconcelos e Davi Bernardo</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- Footer end-->

				<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
			</div>
			<!-- Wrapper end-->