{% load static %}
{% load i18n %}
    <section class="module p-b-0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <div class="module-title text-center">
                        <h2>{% trans 'História' %}</h2>
                        <p class="font-serif">{% trans 'Conheça um pouco de nossa história' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module p-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="timeline">
                        <ul>
                            <li>
                                <div>
                                    <div class="timeline-box">
                                        <div class="timeline-content">
                                            <h6>{% trans 'Criação' %}</h6>
                                            <p>{% trans 'Nossa empresa foi criada com o propósito de atender na região Sul Fluminense do Rio de Janeiro.' %}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="timeline-box">
                                        <div class="timeline-content">
                                            <h6>{% trans 'Localização' %}</h6>
                                            <p>{% trans 'Nosso abatedouro está localizado na região entre as cidades Valença e Vassouras.' %}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <div class="timeline-box">
                                        <div class="timeline-content">
                                            <h6>{% trans 'Produção' %}</h6>
                                            <p>{% trans 'Os produtos tratados em nosso abatedouro são de primeira qualidade, e também com o suporte para abranger e atender toda a região.' %}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>