{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Core - Template</title>
		<!-- Favicons-->
		<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
		<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
		<!-- Web Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Hind:400,700%7cLora:400i%7cPoppins:500,600,700" rel="stylesheet">
		<!-- Bootstrap core CSS-->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Plugins and Icon Fonts-->
		<link href="{% static 'css/plugins.min.css' %}" rel="stylesheet">
		<!-- Template core CSS-->
		<link href="{% static 'css/template.css' %}" rel="stylesheet">
	</head>
	<body>

		<!-- Layout-->
		<div class="layout">

			<!-- Header-->
			<header class="header header-center undefined">
				<div class="container-fluid">
					<!-- Logos-->
					<div class="inner-header"><a class="inner-brand" href="#"><img class="brand-dark" src="{% static 'images/logo.png' %}" width="77px" alt=""><img class="brand-light" src="{% static 'images/logo-light.png' %}" width="77px" alt="">
							<!-- Or simple text-->
							<!-- Core--></a></div>
					<!-- Navigation-->
					<div class="inner-navigation collapse">
						<div class="inner-navigation-inline">
							<div class="inner-nav">
								<ul>
									<!-- Home-->
									<li><a href="#">Início</a></li>
									<!-- Home end-->
									<!-- Shop-->
									<li class="menu-item-has-children"><a href="#">Cadastros</a>
										<ul class="sub-menu">
											<li><a href="{% url 'funcionarios' %}">Funcionários</a></li>
											<li><a href="{% url 'revendedoras' %}">Revendedoras</a></li>
										</ul>
									</li>
									<!-- Shop end-->
									<!-- Simple-->
									<li><a href="{% url 'produtos' %}">Encomendas</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="extra-nav">
						<ul>
							<li><a href="/esconde"><span>Login</span></a></li>
						</ul>
					</div>
					<!-- Mobile menu-->
					<div class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a></div>
				</div>
			</header>
			<!-- Header end-->

			<!-- Wrapper-->
			<div class="wrapper">

				<!-- Page Header-->
				<section class="module-header full-height parallax bg-dark bg-dark-60" data-background="{% static 'images/slider_primario.jpg' %}">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="h2 m-b-20">Bem vindo ao Abatedouro UVPD</h1>
								<h1 class="h3 m-b-20"><span class="rotate">Qualidade | Comprometimento | Confiabilidade</span></h1>
								<p class="m-b-40">Nova empresa que chegou para abastecer e atender todas as cidades do interior do Rio de Janeiro.</p>
							</div>
						</div>
					</div>
				</section>
				<!-- Page Header end-->

				<!-- Services-->
				<section class="module">
					<div class="container">
						<div class="row">
							<div class="col-md-3">
								<div class="icon-box text-center">
									<div class="icon-box-icon"><span class="fa fa-instagram"></span></div>
									<div class="icon-box-title">
										<h6>Instagram</h6>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="icon-box text-center">
									<div class="icon-box-icon"><span class="fa fa-facebook"></span></div>
									<div class="icon-box-title">
										<h6>Facebook</h6>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="icon-box text-center">
									<div class="icon-box-icon"><span class="fa fa-twitter"></span></div>
									<div class="icon-box-title">
										<h6>Twitter</h6>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="icon-box text-center">
									<div class="icon-box-icon"><span class="fa fa-youtube"></span></div>
									<div class="icon-box-title">
										<h6>Youtube</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="m-b-100"></div>
							</div>
						</div>
					</div>
				</section>
				<!-- Services end-->

				<!-- Portfolio-->
				<section class="module p-b-0">
					<div class="container">
						<div class="row">
							<div class="col-md-8 m-auto">
								<div class="module-title text-center">
									<h2>Galeria de Fotos</h2>
									<p class="font-serif">Conheça um pouco da nossa estrutura</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- Portfolio-->
				<section class="module module-divider-bottom p-0">
					<div class="container-fluid"></div>
						<div class="row row-portfolio" date-portfolio-type="standard" data-columns="3">
							{% for f in foto %}
							<div class="grid-sizer"></div>
							<div class="portfolio-item branding photo undefined">
								<div class="portfolio-wrapper">
									<img src="{{ f.foto.thumb.url }}" alt="">
									<div class="portfolio-overlay"></div>
								</div>
								<div class="portfolio-caption">
									<h5 class="portfolio-title">{{ f.nome }}</h5>
								</div>
							</div>
							{% endfor %}
						</div>
				</section>
				<!-- Portfolio end-->

				<br><br><br>

				<!-- Wrapper-->
			<div class="wrapper">
				<section class="module p-b-0">
					<div class="container">
						<div class="row">
							<div class="col-md-8 m-auto">
								<div class="module-title text-center">
									<h2>História</h2>
									<p class="font-serif">Conheça um pouco de nossa história</p>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="module p-0">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="timeline">
									<ul>
										<li>
											<div>
												<div class="timeline-box">
													<div class="timeline-content">
														<h6>Criação</h6>
														<p>Nossa empresa foi criada com o propósito de atender na região Sul Fluminense do Rio de Janeiro.</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div>
												<div class="timeline-box">
													<div class="timeline-content">
														<h6>Localização</h6>
														<p>Nosso abatedouro está localizado na região entre as cidades Valença e Vassouras.</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div>
												<div class="timeline-box">
													<div class="timeline-content">
														<h6>Produção</h6>
														<p>Os produtos tratados em nosso abatedouro são de primeira qualidade, e também com o suporte para abranger e atender toda a região.</p>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<br><br><br>

				<!-- Footer-->
				<footer class="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-lg-3">
								<!-- Recent entries widget-->
								<aside class="widget widget_recent_entries">
									<div class="widget-title">
										<h5>Contato</h5>
									</div>
									<ul>
										<li><a href="#">Telefone: (24) 99999-9999 </a></li>
									</ul>
								</aside>
							</div>
							<div class="col-md-6 col-lg-3">
								<!-- Recent entries widget-->
								<aside class="widget widget_recent_entries">
									<div class="widget-title">
										<h5>Endereço</h5>
									</div>
									<ul>
										<li><a href="#">Endereço: Av. Expedicionário Oswaldo de Almeida Ramos, N 280</a> <span class="post-date">Vasouras</span></li>
									</ul>
								</aside>
							</div>
							<div class="col-md-6 col-lg-3">
								<!-- Recent entries widget-->
								<aside class="widget widget_recent_entries">
									<div class="widget-title">
										<h5>E-mail</h5>
									</div>
									<ul>
										<li><a href="#">support@abatedouro.com</a></li>
									</ul>
								</aside>
							</div>
						</div>
					</div>
					<div class="footer-copyright">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="text-center"><span class="copyright">© 2021 - Todos os direitos reservados - Pedro Vasconcelos e Davi Bernardo</a></span></div>
								</div>
							</div>
						</div>
					</div>
				</footer>
				<!-- Footer end-->

				<a class="scroll-top" href="#top"><i class="fa fa-angle-up"></i></a>
			</div>
			<!-- Wrapper end-->

		</div>
		<!-- Layout end-->

		<!-- Scripts-->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0rANX07hh6ASNKdBr4mZH0KZSqbHYc3Q"></script>
		<script src="{% static 'js/plugins.min.js' %}"></script>
		<script src="{% static 'js/charts.js' %}"></script>
		<script src="{% static 'js/custom.min.js' %}"></script>
	</body>
</html>