{% load static %}
{% load i18n %}
<!-- Services-->
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><a href="https://www.universidadedevassouras.edu.br/instituicao/portaldoaluno"><span class="fa fa-instagram"></span></a></div>
                        <div class="icon-box-title">
                            <h6>Instagram</h6>
                            <p>{% trans 'Siga nosso Instagram' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><a href="https://www.universidadedevassouras.edu.br/instituicao/portaldoaluno"><span class="fa fa-facebook"></span></a></div>
                        <div class="icon-box-title">
                            <h6>Facebook</h6>
                            <p>{% trans 'Siga nossa página no Facebook' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><a href="https://www.universidadedevassouras.edu.br/instituicao/portaldoaluno"><span class="fa fa-twitter"></span></a></div>
                        <div class="icon-box-title">
                            <h6>Twitter</h6>
                            <p>{% trans 'Siga nosso Twitter' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box text-center">
                        <div class="icon-box-icon"><a href="https://www.universidadedevassouras.edu.br/instituicao/portaldoaluno"><span class="fa fa-youtube"></span></a></div>
                        <div class="icon-box-title">
                            <h6>Youtube</h6>
                            <p>{% trans 'Se inscreva em nosso canal' %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="m-b-100"></div>
                </div>
            </div>
        </div>
    </section>
<!-- Services end-->