{% extends 'base.html' %}
{% load static %}
{% block content %}

			<!-- Wrapper-->
			<div class="wrapper">

				<!-- Page Header-->
				<section class="module-header parallax bg-dark bg-dark-60" data-background="{% static 'images/slider_primario.jpg' %}">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h1 class="h1 m-b-10">Revendedoras</h1>
							</div>
						</div>
					</div>
				</section>
				<!-- Page Header end-->

				<!-- Team-->
				<section class="module module-divider-bottom">
					<div class="container">
						<div class="row">
							<div class="col-md-8 m-auto">
								<div class="module-title text-center">
									<h2>Conheça todas as nossas parcerias</h2>
								</div>
							</div>
						</div>
						<div class="row">
							{% for r in revendedoras %}
								<div class="col-md-4">
									<div class="team-item m-b-30">
										<div class="team-image"><img src="{{ r.foto.thumb.url }}" alt="">
											<div class="team-content">
												<h5>{{ r.nome }}</h5>
												<p>CNPJ {{ r.cnpj }}</p>
											</div>
											<div class="team-content-social">
												<ul>
													<li><a href="{{ r.twitter }}"><i class="fa fa-twitter"></i></a></li>
													<li><a href="{{ r.facebook }}"><i class="fa fa-facebook"></i></a></li>
													<li><a href="{{ r.twitter }}"><i class="fa fa-instagram"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</section>
				<!-- Team end-->
			</div>

{% endblock %}